<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/loan.png" alt="Company logo"/>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLink="/customers" routerLinkActive="list-item-active">
        <mat-icon>person</mat-icon>Customers
    </a>
    <a mat-list-item routerLink="/loans" routerLinkActive="list-item-active">
        <mat-icon>payment</mat-icon>Loan
    </a>
    <a mat-list-item routerLink="/payments" routerLinkActive="list-item-active">
        <mat-icon>money</mat-icon>Payments
    </a>
    <a mat-list-item routerLink="/invoices" routerLinkActive="list-item-active">
        <mat-icon>description</mat-icon>Invoices
    </a>
    <a mat-list-item routerLink="/settings" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon>Settings
    </a>
    <a mat-list-item routerLink="/audit" routerLinkActive="list-item-active">
        <mat-icon>insert_chart</mat-icon>Audit Logs
    </a>
    <!-- <a mat-list-item><mat-icon>edit</mat-icon>Link3</a>
    <a mat-list-item><mat-icon>edit</mat-icon>Link4</a>
    <a mat-list-item><mat-icon>edit</mat-icon>Link5</a>
    <a mat-list-item><mat-icon>edit</mat-icon>Link6</a>
    <a mat-list-item><mat-icon>edit</mat-icon>Link7</a> -->
</mat-nav-list>
