<!-- <p>dashboard works!</p> -->

<h2 class="text-dark text-center"><b> Dashboard</b></h2>

<!-- <div> -->
    <!-- start dashboard area -->
    <!-- <div class="col-sm-9 col-md-10"> -->
    <div class="row text-center mx-5">

        <div class="col-sm-3 mt-5">
            <div class="card text-white bg-info mb-3" style="max-width:25rem;">
                <div class="card-header">Customers </div>
                <div class="card-body">
                    <h4 class="card-title">1900</h4>
                    <a class="btn text-white" href="">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mt-5">
            <div class="card text-white bg-info mb-3" style="max-width:25rem;">
                <div class="card-header">Total Loans</div>
                <div class="card-body">
                    <h4 class="card-title">50</h4>
                    <a class="btn text-white" href="">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mt-5">
            <div class="card text-white bg-info mb-3" style="max-width:25rem;">
                <div class="card-header">Approved loans</div>
                <div class="card-body">
                    <h4 class="card-title">Rs.9000</h4>
                    <a class="btn text-white" href="">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mt-5">
            <div class="card text-white bg-info mb-3" style="max-width:25rem;">
                <div class="card-header">Pending Loans</div>
                <div class="card-body">
                    <h4 class="card-title">6000</h4>
                    <a class="btn text-white" href="">View Details</a>
                </div>
            </div>
        </div>



        <!-- </div>  -->
    </div> <!-- end dashboard details area -->

    <h2 class="text-dark text-center"><b>Recent Loans</b></h2>
    <div class="col-sm-9 col-md-10 mt-5 center">

        <table class="table">
            <!-- <thead> -->
              <tr>
                    <th scope="col">LoanId</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Loan Type</th>
                    <th scope="col">Last Payment</th>
                    <th scope="col">Payment Due</th>
                    <th scope="col">Loan Status</th>


                </tr>
            <tbody>

                <tr>

                    <td>LN-123</td>
                    <td>Tarun</td>
                    <td>@mdo</td>
                    <td>USA</td>
                    <td>NewYork</td>
                    <td><a class="Active">Active</a></td>



                </tr>

            </tbody>
            <tbody>

                <tr>

                    <td>LN-123</td>
                    <td>Tarun</td>
                    <td>@mdo</td>
                    <td>USA</td>
                    <td>NewYork</td>
                    <td><a class="Active">Active</a></td>



                </tr>

            </tbody>

            <tbody>

                <tr>

                    <td>LN-123</td>
                    <td>Tarun</td>
                    <td>@mdo</td>
                    <td>USA</td>
                    <td>NewYork</td>
                    <td><a class="Active">Active</a></td>



                </tr>

            </tbody>
            <tbody>

                <tr>

                    <td>LN-123</td>
                    <td>Tarun</td>
                    <td>@mdo</td>
                    <td>USA</td>
                    <td>NewYork</td>
                    <td><a class="Active">Active</a></td>



                </tr>

            </tbody>
           
            
            <!-- </thead> -->
        </table>





    </div>
     <!-- end user details area -->